* {
    background-color: antiquewhite; 
    margin: 5px;
    padding: .1px;
}
ol {
    color: red;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
li {
    color: black;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
}
h1 {
    color: whitesmoke;
    background-color: darkseagreen;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
h2 {
    color: whitesmoke;
    background-color: darkseagreen;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
.summary {
    color: #FAF8F1;
    background-color: #C58940;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
}
.certifications {
    color: #FAF8F1;
    background-color: #C58940;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
.company-details {
    font-size: .5em;
    color: #FAF8F1;
    background-color: #C58940;
    font-family: Arial, sans-serif;
}
.head-name {
    color: #FAF8F1;
    background-color: #C58940;
    text-align: center;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.photo {
    background-color: #C58940;
    float: right;
    width: 100px;
    height: 100px;
}
.address {
    color: #FAF8F1;
    background-color: #C58940;
    float: ;
    font-size: .5em;
    font-family: Arial, sans-serif;
}
